/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.primary-button {
    margin-top: 20px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    font-size: 1.15rem;
    font-weight: 600px;
    border: none;
    cursor: pointer;
}
/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    /* height: 1322px;
    width: 1990px; */
    padding: 15px 15px;
    margin: 5px 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li a{
    text-decoration: none;
    
}
nav h3 {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 30px;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
nav li{
    padding: 10px 10px;
    list-style: none;
    /* margin: auto auto; */
}

.banner-items {
    /* width: 860px; */
    text-align: center;
    margin: 0 0;
}

.banner-title {
    margin-top: 110px;
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-text {
    margin-top: 25px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-image {
    /* margin: 0 auto; */
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
/* responsive media queries */
@media screen and (max-width:576px) {
    header{
        padding: 5px 5px;
    }
    nav{
        flex-direction: column;
    }
    nav li a{
     
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-text{
        font-size: 12px;
    }
    .banner-item{
        width:1px 1px;
        padding: 20px;
    }
    nav ul{
        width: auto;
    }
    nav li{
        padding: 0px 0px;
        margin:auto auto;
    }
    
}
/* tablet and medium device */
@media screen   and (min-width:576px) and (max-width:990px) {
    header{
        padding:10px;
    }
    nav {
        flex-direction: column;
    }
    
}